<footer>
  <ul>
    <li>
      <a href="https://web.de/sitemap/">
        Sitemap
      </a>
    </li>
    <li>
      <a href="https://web.de/impressum/">
        Impressum
      </a>
    </li>
    <li>
      <a href="https://agb-server.web.de/webdeagb">
        AGB
      </a>
    </li>
    <li>
      <a href="https://web.de/datenschutz/">
        Datenschutz
      </a>
    </li>
    <li>
      <a href="https://web.de/magazine/in-eigener-sache/jugendschutz/">
        Jugendschutz
      </a>
    </li>
    <li>
      <a href="https://newsroom.web.de/">
        Presse
      </a>
    </li>
    <li>
      <a href="https://www.mail-and-media.com/jobs" target="_blank" rel="nofollow">
        Jobs
      </a>
    </li>
    <li>
      <a href="https://www.united-internet-media.de/" target="_blank">
        Werbung
      </a>
    </li>
    <li>
      <a href="https://web.de/email/">
        E-Mail
      </a>
    </li>
    <li>
      <a href="https://web.de/angebot/">
        Angebot
      </a>
    </li>
    <li>
      <a href="https://web.de/nuetzlich/">
        Nützlich
      </a>
    </li>
    <li>
      <a href="https://web.de/aktuell/">
        Aktuell
      </a>
    </li>
    <li>
      <a href="https://web.de/magazine/news/">
        News
      </a>
    </li>
  </ul>
</footer>
